arduino/arduino_secrets.h
arduino/spec.d
arduino/sloeber.ino.cpp
arduino/Release/subdir.mk
arduino/Release/sources.mk
arduino/Release/objects.mk
arduino/Release/makefile
arduino/Release/libraries/WiFiNINA/src/utility/subdir.mk
arduino/Release/libraries/WiFiNINA/src/subdir.mk
arduino/Release/libraries/Servo/src/stm32f4/subdir.mk
arduino/Release/libraries/Servo/src/samd/subdir.mk
arduino/Release/libraries/Servo/src/sam/subdir.mk
arduino/Release/libraries/Servo/src/nrf52/subdir.mk
arduino/Release/libraries/Servo/src/megaavr/subdir.mk
arduino/Release/libraries/Servo/src/avr/subdir.mk
arduino/Release/libraries/SPI/subdir.mk
arduino/Release/libraries/MFRC522/src/subdir.mk
arduino/Release/libraries/DHT_sensor_library/subdir.mk
arduino/Release/libraries/ArduinoHttpClient/src/subdir.mk
arduino/Release/core/variant/subdir.mk
arduino/Release/core/core/subdir.mk
arduino/Release/core/core/avr/subdir.mk
arduino/Release/core/core/USB/subdir.mk
arduino/.settings/org.eclipse.cdt.core.prefs
arduino/.settings/language.settings.xml
arduino/.project
arduino/.cproject
server/backend/src/main/resources/application.properties
