arduino/arduino_secrets.h
arduino/spec.d
arduino/sloeber.ino.cpp
arduino/Release/subdir.mk
arduino/Release/sources.mk
arduino/Release/objects.mk
arduino/Release/makefile
arduino/Release/libraries/WiFiNINA/src/utility/subdir.mk
arduino/Release/libraries/WiFiNINA/src/subdir.mk
arduino/Release/libraries/Servo/src/stm32f4/subdir.mk
arduino/Release/libraries/Servo/src/samd/subdir.mk
arduino/Release/libraries/Servo/src/sam/subdir.mk
arduino/Release/libraries/Servo/src/nrf52/subdir.mk
arduino/Release/libraries/Servo/src/megaavr/subdir.mk
arduino/Release/libraries/Servo/src/avr/subdir.mk
arduino/Release/libraries/SPI/subdir.mk
arduino/Release/libraries/MFRC522/src/subdir.mk
arduino/Release/libraries/DHT_sensor_library/subdir.mk
arduino/Release/libraries/ArduinoHttpClient/src/subdir.mk
arduino/Release/core/variant/subdir.mk
arduino/Release/core/core/subdir.mk
arduino/Release/core/core/avr/subdir.mk
arduino/Release/core/core/USB/subdir.mk
arduino/.settings/org.eclipse.cdt.core.prefs
arduino/.settings/language.settings.xml
arduino/.project
arduino/.cproject
server/backend/src/main/resources/application.properties
arduino/office_thing_arduino/arduino_secrets.h
arduino/Release/libraries/Wire/subdir.mk
arduino/Release/office_thing_arduino/subdir.mk
server/backend/officething.log
server/backend/officething.log.2019-07-04.0.gz
server/backend/officething.log.2019-07-20.0.gz
server/backend/officething.log.2019-07-21.0.gz
server/backend/officething.log.2019-08-13.0.gz
server/backend/officething.log.2019-08-14.0.gz
server/backend/officething.log.2019-08-15.0.gz
server/backend/officething.log.2019-08-16.0.gz
server/backend/officething.log.2019-08-18.0.gz
server/backend/officething.log.2019-08-19.0.gz
server/backend/officething.log.2019-10-03.0.gz
server/backend/officething.log.2019-10-05.0.gz
server/backend/officething.log.2019-10-06.0.gz
server/backend/officething.log.2019-10-07.0.gz
server/backend/officething.log.2019-10-08.0.gz
server/backend/officething.log.2019-10-12.0.gz
server/backend/officething.log.2019-10-13.0.gz
server/backend/officething.log.2019-10-14.0.gz
server/frontend/office-thing-vs-workspace.code-workspace
*.gz
