<div class="mat-elevation-z8">

  <table style="width: 75%" mat-table [dataSource]="uiworkperiods">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="startWorkEvent">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let element"> {{element.startWorkEvent.eventTime | date:'d.M.yyyy - H:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="finishWorkEvent">
      <th mat-header-cell *matHeaderCellDef> Finish </th>
      <td mat-cell *matCellDef="let element"> {{element.finishWorkEvent.eventTime | date:'H:mm' }} </td>
    </ng-container>

    <ng-container matColumnDef="workDuration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.workDuration }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element"> 
        <a (click)="openDialog('Edit',element)" mat-button>Edit</a> 
        <a (click)="openDialog('Delete',element)" mat-button>Delete</a>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>